@charset "utf-8";

/* -------------------- 共通 -------------------- */


body {
  font-family: "Cabin Sketch", serif;
  color: #5F3A06;
  background-color: #EFEBD9;
  font-size: 20px;
  margin-top: 100px;
  margin-bottom: 200px;
  text-align: center;
}


/* ----- header ----- */

header {
  font-family: "Cabin Sketch", serif;
  width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  display: flex;
}

header h1 {
  font-size: 40px;
  margin-left: 50px;
}

header h1 a {
  color: #5F3A06;
  text-decoration: none;
}

header nav ul {
  font-size: 30px;
  display: flex;
}

header nav ul li {
  margin-right: 50px;
}

header nav ul li a {
  color: #5F3A06;
  text-decoration: none;
}

header nav ul li a:hover {
  color: #EC6A16;
}



/* ----- main ----- */

main {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

main img {
  border-radius: 60px;
  margin-bottom: 200px;
}

main h2 {
  font-size: 40px;
  font-weight: normal;
  line-height: 100px;
  text-align: left;
  margin-left: 50px;
  margin-bottom: 30px;
  background-image: url(../images/h2_img.png);
}

main h3 {
  font-size: 30px;
  font-weight: normal;
  line-height: 100px;
}

main section {
  margin-bottom: 100px;
}

main section img {
  margin-bottom: 20px;
}

main .box {
  display: flex;
  margin-top: 30px;
}

main .subbox {
  width: 400px;
}

main .subbox a {
  color: #5F3A06;
  text-decoration: none;
}

main .subbox a:hover {
  color: #EC6A16;
}

main h4 {
  font-family: 'メイリオ', Meiryo, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

main .gallery {
  margin-bottom: 200px;
}

main .gallery .box {
  margin-left: 100px;
  margin-right: 100px;
}

main .gallery .subbox {
  width: 200px;
}

main .gallery .subbox img {
  border-radius: 20px;
}

main h5 {
  font-size: 40px;
  text-align: center;
  background-image: url(../images/h5_img.png);
  line-height: 100px;
}


/* ----- article ----- */

main article {
  margin-left: 200px;
  margin-right: 200px;
}

main article img {
  margin-top: 50px;
  margin-right: 50px;
  width: 200px;
  height: 200px;
  align-items: center;
}

main article h4 {
  width: 550px;
  line-height: 100px;
}

main article p {
  font-family: 'メイリオ', Meiryo, 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
  font-size: 15px;
  width: 550px;
  text-align: left;
  line-height: 50px;
}


/* --- スムーズスクロール --- */

.back-top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  display: none;
  background-color: #EC6A16;
  width: 60px;
  line-height: 60px;
  border-radius: 100%;
  text-align: center;
 }
.back-top a {
  display: block;
  color: #EFEBD9;
  text-decoration: none;
}





/* ---------- works ---------- */

#works main h4 {
  margin-bottom: 60px;
}
#works main section a {
  text-decoration: none;
  color: #5F3A06;
}
#works main section a:hover {
  color: #EC6A16;
}

#works main {
  font-size: 15px;
  width: 800px;
}
#works table {
  text-align: left;
}
#works table tr th {
  width: 250px;
  padding-left: 50px;
  
}
#works table tr td {
  line-height: 30px;
  padding-bottom: 30px;
}